:root {
    --body-color: #efefef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

button {
    border: none;
}

button:active {
    scale: 0.98;
}

ul,
ol {
    list-style: none;
}

/* utility classes */

.hidden {
    display: none;
}

.container {
    display: flex;
}

.centering {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex {
    flex: 1;
}

.max-width {
    width: 100%;
}

/* header styles */

header {
    display: block;
    position: fixed;
}

header > nav {
    justify-content: space-between;
    background-color: #fff;
    height: 4rem;
    padding: 0 1rem;
    box-shadow: 0 0.01rem 0.2rem #00000033;
}

nav ul {
    gap: 1rem;
}

/* main styles */

main {
    padding-top: 4rem;
    background-color: inherit;
    height: 100%;
}

main > div.container:nth-child(1) {
    padding-top: 3rem;
}

#addBookButton {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

#addBookButton:hover {
    background-color: #ffcccc80;
    cursor: pointer;
}

/* footer styles */

footer {
    padding: 1rem 0;
}